    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">


            <li class="nav-heading">Lançamentos</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/lancamento">
                    <i class="ri-coins-line"></i>
                    <span>Movimentação</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/">
                    <i class="ri-eye-fill"></i>
                    <span>Histórico</span>
                </a>
            </li>
            

            <li class="nav-item">
                <a class="nav-link collapsed" href="/">
                    <i class="ri-file-chart-line"></i>
                    <span>Relatórios</span>
                </a>
            </li>

            <li class="nav-heading">Configurações</li><!--ri-settings-5-line-->

            <li class="nav-item">
                <a class="nav-link collapsed" href="/conta-banco/">
                    <i class="ri-bank-line"></i>
                    <span>Contas Bancarias</span>
                </a>
            </li>   

            <li class="nav-item">
                <a class="nav-link collapsed" href="/origem_categoria/">
                    <i class="ri-bank-line"></i>
                    <span>Origem & Categoria</span>
                </a>
            </li>   

            <li class="nav-item">
                <a class="nav-link collapsed" href="/">
                    <i class="ri-user-3-line"></i>
                    <span>Usuários</span>
                </a>
            </li>  
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="/">
                    <i class="ri-user-voice-line"></i>
                    <span>Chat</span>
                </a>
            </li>              

        </ul>

    </aside><!-- End Sidebar-->
